@use "../pages/app" as app;

.day{
	height: 450px;
	width: 250px;
	border: 5px solid app.$primaryColor;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.day .section{
	height: 112.5px;
}
.day .divider{
	background: app.$primaryColor;
	height: 10px;
}

.topSection{
	border-top: 10px;
}

.midSection{
	border:none;
}

.bottomSection{
	border-bottom: 10px;
}