@use "../pages/app";


.card{
		border-radius: 10px ;
		width: 18rem ;
		max-width: 18rem ;
		min-width: 18rem ;
		height: 13rem ;
		max-height: 13rem;
		margin:35px !important;
		background: #ECECEC;
}