@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

/*  FONTS  */


/*  COLORS  */
$primaryColor: #D4D4D4;
$secondaryColor: #ECECEC;
$bodyBackground: #FAFAFA;
$textColorPrimary: #737373;
$lowBorderColor: rgba(115, 115, 115,0.2);

.hidden{
	display: none;
}

body{
	background: $bodyBackground;
	color: $textColorPrimary;
}
nav{
	float: right;
		color: $textColorPrimary;
}
a{
		color: $textColorPrimary;
}

#menu{
	padding-right: 0;
	padding-left: 0;
	background: $primaryColor;
}