@use "app" as app;

.dropdown.show{

    position: absolute;
    background: app.$primaryColor;
    border: none;
    left: -111%;
    border-block-end: 0px;
    padding: 0px;
    font-size: 0.9em;
}

.main-container{
	padding:0px 57px 38px 115px;
}

.no-padding-right{
	padding-right: 0 ;
}

.no-padding-left{
	padding-left: 0 ;
}

.no-padding-bottom{
	padding-bottom: 0 ;
}

.v100{
  height: 100vh;
}

.card.plus{
	opacity: 0.5;
  border: 6px solid app.$lowBorderColor !important;
}

.card.plus {
	.card-body{
		margin: 0 auto;
		font-size: 7em;
		opacity: 0.2;
	}
}

.title{
	padding: 30px 0px 0px 100px;
}